
body {
	color: #2c3e50;
	margin: 0;
	width: 96vw;
	height: 96vh;
	margin-top: 2vh;
	margin-left: 2vw;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}


/*****  CONTAINERS & BUTTONS  *****/

.kumiko-reader {
	z-index: 1;
	height: 600px;
	width:  600px;
	cursor: pointer;
	border: 1px dotted blue;
	padding: 1px; /* make sure to see panel borders even for pages with no margin (e.g. xkcd) */
	overflow: hidden;
	position: relative;
}

.kumiko-reader > *:not(.container) {
	z-index: 20;
	padding: 0.3em 0.5em;
	background-color: #34495e;
	opacity: 0.9;
	color: #ecf0f1;
	font-weight: bold;
}

.menu {
	position: absolute;
	bottom: 0;
	left: 0;
}

.pagenb {
	position: absolute;
	bottom: 0;
	right: 0;
}


/*****  PANELS  *****/
.panel {
	z-index: 10;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.kumiko-reader.debug .container:not(.zoomed) .panel {
	border: 2px solid red;
	margin-left: -2px;
	margin-top: -2px;
}
.kumiko-reader.debug .container:not(.zoomed) .panel:hover,
.kumiko-reader.debug .container:not(.zoomed) .panel:active {
	background-color: rgba(52,152,219,0.5);
}
.kumiko-reader:not(.debug) .container .panel *,
.kumiko-reader.debug .container.zoomed .panel * {
	display: none;
}
.kumiko-reader.debug .container:not(.zoomed) .panel span {
	color: red;
	font-size: 75%;
	background-color: white;
	opacity: 0.9;
	border-radius: 30px;
	padding: 2px 6px;
}
.kumiko-reader.debug .container:not(.zoomed) .panel span.panelnb { font-size: 150%; }

/* Debug show panel edges */
.kumiko-reader.debug .container:not(.zoomed) .panel span.top     { position: absolute; top: 0;    left: 45%; }
.kumiko-reader.debug .container:not(.zoomed) .panel span.bottom  { position: absolute; bottom: 0; left: 45%; }
.kumiko-reader.debug .container:not(.zoomed) .panel span.left    { position: absolute; left: 0;   top: 45%; }
.kumiko-reader.debug .container:not(.zoomed) .panel span.right   { position: absolute; right: 0;  top: 45%; }
